* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* HEADER */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: #1d1d1b;
}

.logo {
  width: 80px;
  height: auto;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.nav-list li a {
  text-decoration: none;
  color: #f2ecda;
  font-size: 1.2rem;
  font-weight: 700;
  transition: 0.3s;
}

.nav-list li a:hover {
  color: #c9442d;
}

.abrir-menu,
.cerrar-menu {
  display: none;
}

.abrir-menu img,
.cerrar-menu img {
  width: 3rem;
}

/* MAIN */

main {
  background-color: #f2ecda;
}

/* Portada */

#Portada {
  background-image: url(img/Portada.webp);
  background-size: cover;
  background-position: center top 55%;
  height: 750px;
}

#Portada {
  display: flex;
  justify-content: center;
  align-items: center;
}

#Portada .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  background-color: #1d1d1b80;
  opacity: 0;
  animation: fadeIn 3s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.container-frase h1 {
  font-size: 3rem;
  color: #f2ecda;
}

.container-frase img {
  margin-top: 2rem;
  width: 400px;
  height: auto;
}

.container-buttons {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.container-buttons button {
  padding: 12px 24px;
  background-color: #f2ecda;
  border-radius: 30px;
  border: 2px solid transparent;
  color: #1d1d1b;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 44px;
  min-height: 44px;
  transition: 0.3s;
}

.container-buttons button:hover {
  background-color: #1d1d1b;
  border-color: #f2ecda;
  color: #f2ecda;
}

.container-buttons button a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: normal;
}

.container-buttons button a:hover {
  color: #f2ecda;
}

/* Sobre Nosotros */

#Sobre-Nosotros {
  background-image: url(img/sobreNosotros.webp);
  background-size: cover;
  background-position: center top 55%;
}

#Sobre-Nosotros .container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 2rem 15%;
  gap: 3rem;
  background-color: #e6d3bf66;
}

#Sobre-Nosotros .container img {
  max-width: 460px;
  border-radius: 30px;
}

#Sobre-Nosotros .container .container-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#Sobre-Nosotros .container .container-text h2 {
  color: #1d1d1b;
  font-size: 3rem;
}

#Sobre-Nosotros .container .container-text p {
  color: #1d1d1b;
  text-align: start;
  font-size: 1.2rem;
  font-weight: lighter;
}

/* Productos */

#Productos {
  background-color: #000000;
  overflow: hidden;
}

#Productos .container {
  display: flex;
  width: 100%;
  padding: 3rem 15%;
}

#Productos .container-text {
  display: flex;
  flex-direction: column;
}

#Productos .container-text h2 {
  font-size: 3rem;
  color: #f2ecda;
}

#Productos .container-text img {
  margin-left: -180px;
  width: 700px;
}

#Productos .container-productos {
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: right;
  gap: 2rem;
}

#Productos .container-productos h2,
h3,
h4,
p {
  color: #f2ecda;
}

#Productos .container-productos h2 {
  font-size: 2rem;
}

#Productos .container-productos h3 {
  font-size: 1.5rem;
}

#Productos .container-productos img {
  width: 300px;
}

#Productos .img-responsive {
  display: none;
}

#Productos .container-productos p {
  font-size: 1.2rem;
}

/* Slider */
.slider {
  overflow: hidden;
  width: 300px;
}

.slider--inner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  transition: all 0.3s ease-in;
}

.slider--inner img {
  aspect-ratio: 9/16;
  object-fit: cover;
  width: 100%;
}

/* Servicios */

#Servicios {
  background-image: url(img/Servicios.webp);
  background-size: cover;
  background-position: center;
}

#Servicios .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem 15%;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  background-color: #1d1d1b80;
  color: #f2ecda;
}

#Servicios .container h2 {
  font-size: 3rem;
  margin-top: 1rem;
}

#Servicios .container h3 {
  font-size: 2.2rem;
}

#Servicios .container p {
  font-size: 1.5rem;
}

.slider-servicios {
  display: flex;
  width: 100%;
  height: 430px;
  margin-bottom: 1rem;
}

.slider-servicios img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
}

.slider-servicios img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

/* Galeria */
#Galeria {
  padding: 3rem 10%;
  background-color: #000000;
  color: #f2ecda;
}

#Galeria h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 20px;
}

.grid-container {
  columns: 5 250px;
  column-gap: 10px;
  padding: 0.5rem;
}

.grid-item {
  width: 100%;
  margin-bottom: 10px;
}

.grid-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.3s;
  border: 1px solid #f2ecda;
}

.grid-item img:hover {
  scale: 1.05;
}

/* Ubicación */

#Ubicacion {
  background-color: #000000;
  padding: 40px 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#Ubicacion h2 {
  font-size: 3rem;
  margin-bottom: 10px;
  color: #f2ecda;
}

#Ubicacion p {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #f2ecda;
}

#Ubicacion .container-text h3 {
  margin-bottom: 10px;
  font-size: 2rem;
}

.map-container {
  max-width: 90%;
  margin: 0 auto;
  border: 2px solid #c9442d;
  border-radius: 8px;
  overflow: hidden;
}

.map-container iframe {
  display: block;
  width: 100%;
  height: 400px;
  border: 0;
}

/* Footer */

footer {
  background-color: #1d1d1b;
  color: #f2ecda;
  padding: 2rem 1rem;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.footer-links ul {
  align-items: center;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.footer-links ul li a {
  color: #f2ecda;
  font-weight: 700;
  transition: 0.3s;
  text-decoration: none;
}

.footer-links ul li a:hover {
  color: #c9442d;
  text-decoration: none;
}

.footer-social a {
  color: #f2ecda;
  font-size: 1.5rem;
  margin: 0 0.5rem;
}

.footer-social a img {
  width: 40px;
  height: auto;
}

.footer-bottom {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.fixed-icons {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 20px;
  bottom: 180px;
  height: auto;
  gap: 1rem;
  z-index: 100;
}

.fixed-icons a img {
  width: 80px;
  transition: 0.3s;
}

.fixed-icons a img:hover {
  transform: scale(1.2);
}

/* Responsive */

@media screen and (max-width: 980px) {
  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
  }

  .abrir-menu {
    color: #f2ecda;
  }

  .cerrar-menu {
    color: #f2ecda;
  }

  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #1d1d1b;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    z-index: 100;
  }

  .nav.visible {
    opacity: 1;
    visibility: visible;
  }

  .nav-list {
    flex-direction: column;
    align-items: end;
  }

  .nav-list li a {
    color: #f2ecda;
  }

  /* Main */
  #Portada {
    height: 500px;
  }

  .container-frase h1 {
    font-size: 2.5rem;
    padding: 0 2rem;
  }

  .container-frase img {
    width: 250px;
  }

  .container-buttons button {
    font-size: 1rem;
  }

  #Sobre-Nosotros .container {
    text-align: center;
    padding-top: 2rem;
    flex-direction: column;
  }

  #Sobre-Nosotros .container .container-text p {
    text-align: center;
  }

  #Sobre-Nosotros .container .container-img img {
    width: 240px;
  }

  #Sobre-Nosotros .container .container-text h2 {
    font-size: 2rem;
  }

  #Sobre-Nosotros {
    height: 950px;
    background-position: center right 20%;
  }

  #Productos .container {
    text-align: center;
    flex-direction: column;
    height: 100%;
  }

  #Productos .container-text img {
    display: none;
  }

  #Productos .container-productos {
    margin-top: 2rem;
    gap: 1rem;
    align-items: center;
    text-align: center;
  }

  #Productos .container-productos .img-responsive {
    display: block;
    width: 500px;
  }

  .slider-servicios img:hover {
    width: 100%;
  }

  footer .container {
    justify-content: center;
  }

  .fixed-icons a img {
    width: 40px;
  }
}
